*{ 
margin: 0;
padding: 0 ;
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
-webkit-text-size-adjust: 100%; /* iPhoneレイアウト崩れ防止 */
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body{
	background-color: #F7F7F7;
}

#title_home{
position:fixed;
width:100%;
height:44px;
padding:15px 0;
text-align:center;
letter-spacing:0.3ex;
z-index: 10;
border-bottom: solid 1px #8E8E93;
color:white;
background-color: #34AADC;
}
#title_main{
position:fixed;
width:100%;
height:15px;
padding:10px 0;
text-align:center;
letter-spacing:0.3ex;
z-index: 6;
border-bottom: solid 1px #8E8E93;
color:white;
background-color: #34AADC;
}
.back{
	position:absolute;
	font-size:15px;
	line-height: 15px;
	margin-left: 10px;
	letter-spacing: 0;
	z-index:7;
}
.title1{
	font-size:28px;
	line-height: 30px;
	font-weight: bold;
}
.title2{
	font-size:15px;
	line-height:15px;
	font-weight: lighter;
}
#home{
	position:absolute;
	top :76px;
	width: 90%;
	z-index:9;
	background-color: #F7F7F7;
	text-align:center;
	color:#4A4A4A;
	font-size:12px;
	padding:15px 5% 0 5%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
#select_bar{
	position:absolute;
	width:100%;
	bottom:0;
	height:80px;
	text-align:center;
	display:table;
	table-layout:fixed;
	background-color: #F7F7F7;
	color:#8E8E93;
	z-index: 11;
}
#main{
	position:absolute;
	top:36px;
	bottom:85px;
	width: 100%;
	z-index:5;
	background-color: #F7F7F7;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.subtitle{
	
	background-color: #C7C7CC;
	font-size:13px;
	line-height: 100%;
	height: 14px;
	color:#4A4A4A;
	padding:15px 15px 5px;
	text-align:left;
	border-bottom: solid 1px #8E8E93;
	letter-spacing: 0.1em;
}
.subtitle span{
	font-size:11px;
}

.bustime{
	height:40px;
	padding:5px;
	color:#4A4A4A;
	border-bottom: solid 1px #8E8E93;
	vertical-align: middle;
	z-index: 5;
}
.time{
font-size:30px;
line-height:130%;
font-weight:lighter;
}
.info{
	margin-left: 2px;
	font-size:12px;
	line-height:100%;
}
.lastbus{
	color:#FF3A2D;
}
.detail{
	position: absolute;
	margin-top:12px;
	right:15px;
	font-size: 14px;
	line-height: 100%;
	font-weight:lighter;
}
.more{
	height:20px;
	padding: 5px;
	color:#4A4A4A;
	border-bottom: solid 1px #8E8E93;
	vertical-align: middle;
	z-index: 5;
	font-size:20px;
	line-height:20px;
	text-align: center;
}
#line{
	position:absolute;
	top:36px;
	width: 100%;
	z-index:0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}


#select_bar li{
	display: table-cell;
	vertical-align: middle;
	position:relative;
	padding:0;
}
select{
	-webkit-appearance:button;
    -moz-appearance:button;
    appearance:button;
	position:absolute;
    /*width: 100%;*/
    height: 88px;
    opacity:0;
    bottom:0;
    right:0;
}
.bar_text{
	line-height:20px;
	font-size:11px;
}
